.menu-bar {
    -fx-padding: 0;
    -fx-spacing: 0;
    -fx-font-size: 12px;
}

.text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 24px;
    -fx-text-fill: darkgray;
    -fx-padding: 0 10 0 0;
}

.button:hover {
    -fx-text-fill: dodgerblue;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-view .list-cell:even {
    -fx-background-color: gainsboro;
}

.list-view .list-cell:odd {
    -fx-background-color: white;
}

.list-view .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: -fx-background;
}
